@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to top, #BFAE8E, #F2DDB6);
}

main{
    background-color: white;    
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5943288f;
    width: 40%;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8C6E49;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(53, 41, 32, 0.734);
}

h2{
    
    color: #80745f;
}

p{
    text-align: justify;
}