* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(29, 29, 29);
}
h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}
.imagens {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}